<div class='cen' style="margin: 0; padding: 0;">
    {% assign noprev = 0 %}
    {% if include.post.previous %}
        {% assign previous = include.post.previous %}
    {% else %}
        {% assign noprev = 1 %}
    {% endif %}
          <a class="paper-btn btn-small margin-small" href="{% if noprev == 1 %}#{%else%}{{site.baseurl}}{{previous.url}}{% endif %}" title="Previous Post: {{previous.title}}">Previous</a>
          <a class="paper-btn btn-small margin-small" href="/random/" title="Random Comic">Random</a>
    {% if include.post.next %}
        {% assign next = include.post.next %}
    {% else %}
        {% assign nonext = 1 %}
    {% endif %}
        <a class="paper-btn btn-small margin-small" href="{% if nonext %}#{%else%}{{site.baseurl}}{{next.url}}{%endif%}" title="next Post: {{next.title}}">
        Next 
        </a>
</div>
